
html {
    scroll-behavior: smooth;
}

#top {
    position: relative;
    top: 0vh;
}

::selection{
    color: #b666d2;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #181818;
}

#page{
    width: 100vw;
}

#pagetitle{
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 30vh;
}

/*
#intro-content{
    color: white;
    padding-left: 15%;
    padding-top: 1vh;
    font-size: 3vh;
    width: 45vw;
    font-family: trebuchet ms;
    text-align: justify;
    
    user-select: text;
    z-index: 4;
}
*/

#myname{
    font-size: 5vh;
    margin-top: 0;
    font-weight: bold;
}


#mytitle{
    font-size: 4vh;
    padding-bottom: 5vh
}

#introparagraph{
    line-height: 150%;
    user-select: text;
}

#top-grid{
    display: grid;
    grid-template-columns: 60vw 40vw;
}

#intro-content{
    color: white;
    padding-left: 20%;
    padding-top: 1vh;
    font-size: 3vh;
    width: 45vw;
    font-family: trebuchet ms;
    text-align: justify;
    
    user-select: text;
    z-index: 4;
}

#id-photo-div{
    width: 40vw;
}

#id-photo{
    margin-left: 8vw;
    margin-top: 12vh;
    
    width: 25vw;
}


#experiencecontent{
    color: white;
    padding-left: 15%;
    padding-top: 8%;
    
    width: 70vw;
    
    font-size: 3vh;
    font-family: trebuchet ms;
    
    user-select: text;
}

#experiencetitle{
    font-size: 4vh;
    font-weight: bold;
    
    margin-bottom: 1vh;
}

#experiencenontitle{
    padding-top: 3%;
}

.experienceline{
    margin-bottom: 5vh;
    
    line-height: 5vh;
}

#contactshell{
    height: auto;
}

#contacttitle{
    color: white;
    padding-left: 15%;
    padding-top: 11%;
    font-family: trebuchet ms;
    font-size: 4vh;
    font-weight: bold;
    display: block;
    width: 10vw;
    float: left;
    margin-top: 0;
}

#contacttable{
    float:left;
    padding-top: 10%;
    width: 70vw;
    
    

    color: white;
}

.contactcell{
    text-align: center;
    width: 33.33333vw;
}

#emaillogo{
    width: 70px;
    filter: grayscale() invert(100);
}

#emaillogo:hover{
    transform:scale(1.1);
}

#linkedinlogo{
    width: 85px;
}

#linkedinlogo:hover{
    transform:scale(1.1);
}

#githublogo{
    width: 60px;
    filter:invert(70)
}

#githublogo:hover{
    transform:scale(1.1);
}

#invisibleDivision{
    background-color: #181818;
    height: 50px;
    position: relative;
}
