#top {
    position: relative;
    top: 0vh;
}

::selection{
    color: #b666d2;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    background-color: #181818;
}



#page{
    width: 100vw;
    height: 200vh;

    z-index: 5;

}

#pagetitle{
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 30vh;
    
    font-family: trebuchet ms;
    font-size: 4.166666666666667vw;
    
}

#intro-content{
    color: white;
    padding-left: 20%;
    padding-top: 1vh;
    font-size: 3vh;
    width: 40vw;
    font-family: trebuchet ms;
    text-align: justify;
    
    user-select: text;
    z-index: 4;
}


#dim-target{
    background-color: #181818;
}

#myname{
    font-size: 5vh;
    margin-top: 0;
    font-weight: bold;
}


#mytitle{
    font-size: 4vh;
    padding-bottom: 5vh
}

#introparagraph{
    line-height: 150%;
    user-select: text;
}


#experiencecontent{
    color: white;
    padding-left: 15%;
    padding-top: 12%;
    font-size: 3vh;
    font-family: trebuchet ms;
    
    user-select: text;
}

#experiencetitle{
    font-size: 4vh;
    text-decoration: underline;
    font-weight: bold;
}

#experiencenontitle{
    padding-top: 3%;
}

.experienceline{
    margin-bottom: 4vh;
}

#contactshell{
    height: auto;
}

#contacttitle{
    color: white;
    padding-left: 15%;
    padding-top: 11%;
    font-family: trebuchet ms;
    font-size: 4vh;
    font-weight: bold;
    display: block;
    width: 10vw;
    float: left;
    margin-top: 0;
}

#contacttable{
    float:left;
    padding-top: 10%;
    width: 70vw;
    
    

    color: white;
}

.contactcell{
    text-align: center;
    width: 33.33333vw;
}

#emaillogo{
    width: 70px;
    filter: grayscale() invert(100);
}

#emaillogo:hover{
    transform:scale(1.1);
}

#linkedinlogo{
    width: 85px;
}

#linkedinlogo:hover{
    transform:scale(1.1);
}

#githublogo{
    width: 60px;
    filter:invert(70)
}

#githublogo:hover{
    transform:scale(1.1);
}

#copyright{
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-family: trebuchet ms;
    position: absolute;
    width: 100vw;
    bottom: 1vh;
}

#invisibleDivision{
    background-color: #181818;
    height: 50px;
    position: relative;
}

#menu {
    width: 100vw;
    height: 200vh;
    position: fixed;
    background-color: #181818;
    opacity: 0;
    z-index = -1;
}

#menuportfolio{
    color: white;
    text-decoration: none;
}

#menuportfolio:hover{
    color: deeppink;
}

#menuabout{
    color: white;
    border-bottom: 0.5263157894736842vh solid white;
    width: 60%;
    margin-left: 2.4vw
}

#menuabout:hover{
    color: deeppink;
    border-bottom: 0.5263157894736842vh solid deeppink;
}

#menuoptions {
    color: white;
    top: 0;
    right: 0;
    padding-top: 6.4473684210526314vh;
    padding-right: 1.3vw;
    text-align: right;
    font-family: trebuchet ms;
    font-weight: bold;
    font-size: 2.5vh;
    
    position: fixed;

    
    user-select: none;
}

#hamburger {
    height: 3.9473684210526314vh;
    width: 2.2786458333333335vw;
    top: 0;
    right: 0;
    padding-top: 2vh;
    padding-right: 1.3vw;
    position: absolute;
    filter: invert(0.8);
    display: inline;
  
}

#hamburger:hover {
    transform: scale(1.15);
}

#hamburgerwrapper{
    height: 3.9473684210526314vh;
    width: 2.2786458333333335vw;
    position: fixed;
    top:0;
    right:0;
    padding-top:2vh;
    padding-right:1.3vw;
    z-index: 10;
    background-color: #181818;
}

