 
#link-grid{
    height: 25vh;
    
    display: grid;
    
    grid-template-columns: 20vw 20vw 20vw;
    
    margin-top: 3vh;
    margin-bottom: 3vh;
    
}

.link-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    
    position: relative;

}

.link-cell-image{
    height: 20vh;
    z-index: 2;
}

.link-description{
    position: absolute;
    bottom: 0;
    
    font-family: trebuchet ms;
    font-size: 0.9765625vw;
    opacity: 0;

}

.link-cell:hover{
    transform: scale(1.1);
    transition: 0.2s linear;
}

.link-cell:hover .link-description{
    opacity: 1;
    transition: 0.5s linear;
}

#p4{
    font-family: trebuchet ms;
    
    font-size: 1.171875vw;
    
    line-height:180%;
    
    margin-bottom: 5vh;
}
