#body-content{
    height: 50vh;
    width: 70vw;
    margin: auto;
    
    text-align: center;
    
    margin-top: 2vh;
}

#link{
    text-decoration: none;
    color: #20b47c;
    font-weight: bold;
}


#square-image{
    margin-left: 14vw;
    margin-top: 5vh;
    float: right;
    margin-bottom: 4vh;
}