#vert-image{
    width: 28%;
    margin-left: 7vw;
    margin-top: 5vh;
    float: right;
    border: 5px solid black;
    margin-bottom: 4vh;
}

#link{
    text-decoration: none;
    color: indianred;
    font-weight: bold;
}