/*          Nav Bar         */

#navbar {
    background-color: #181818;
    color: white;
    margin: 0;
    top: 0;
    right: 0;
    margin-right: 2vw;
    
    width: 80vw;
    height: 8vh;

    position: fixed;
    
    z-index: 10;
}

.navbar-link {
    color: white;
}

.navbar-text {
    margin-left: 3vw;
    margin-top: 4vh;
    
    font-size: 2.5vh;
    
    float: right;
    
    font-family: trebuchet ms;
    
    user-select: none;
}

#logoimage {
    height: 10vh;
    width: 8/3vw;
    top: 0;
    left: 0;
    padding-top: 2vh;
    padding-left: 1.3vw;
    position: fixed;
    display: inline;
    
    z-index: 10;
    
    user-select: none;
  
}




/*          Footer          */

#contactbar{
    width: 30vw;
    margin: auto;
    
    display: grid;
    
    grid-template-rows: 10vh;
    
    grid-template-columns: 10vw 10vw 10vw;
    
    margin-top: 10vh;
}

.contactcell{    
    text-align: center;
    margin: auto;

    
    position: relative;
}

.logoimage{ 
    display: flex;
    align-items: center;
    
    user-select: none;
}

.logoimage:hover{
    transform:scale(1.1);
}

#emaillogo{
    width: 4.791666666666667vw;
    filter: grayscale() invert(100);
    margin-top: 0.5vh;
}

#linkedinlogo{
    width: 5.902777777777778vw;
}

#githublogo{
    width: 4.166666666666667vw;
    filter:invert(70)
}


/*      copyright       */


#copyright {
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-family: trebuchet ms;
    position: relative;
    width: 100vw;
    bottom: 1vh;
}
