#top {
    position: relative;
    top: 0vh;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    background-color: whitesmoke;
}

#pageTitle{
    font-family: verdana;
    font-size: 3.125vw; /*convert*/
    
    text-align: left;
    margin-top: 10vh;
    margin-left: 25vw;
    margin-bottom: 8vh;
    
    user-select: none;
}


#duckSection{
    min-height: 100vh;
    display: block;
}

#duckHeader{
    width: 60vw;
    margin-left: 20vw;
    height: 9.895833333333334vw;
    
    background-color: lightyellow;

    user-select: none;
}

#duckPhotoWrapper{
    margin-top: 1vh;
    width: 60vw;
    margin-left: 20vw;
    min-height: 49.479166666666664vw;
    margin-bottom: 5vw;
}

#notDuckSection{
    display: block;
}

#notDuckHeader{
    width: 60vw;
    margin-left: 20vw;
    height: 9.895833333333334vw;
    
    background-color: lightblue;
    user-select: none;
}

#notduckPhotoWrapper{
    width: 60vw;
    margin-top: 3vh;
    margin-left: 20vw;
}


.mediumphotoleft{
    display: block;
    width: 36.458333333333336vw;
    height: width * (2/3);
    margin-bottom: 3vh;
}

.mediumphotoright{
    float: right;
    display: block;
    width: 36.458333333333336vw;
    height: 24.305338541666668vw;
    margin-bottom: 3vh;
}

#bottomPadding{
    width: 100vw;
    height: 10vh;
}


