#top {
    position: relative;
    top: 0vh;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    background-color: whitesmoke;
}

#pageTitle{
    font-family: verdana;
    font-size: 32px; /*convert*/
    
    text-align: left;
    margin-top: 12vh;
    margin-left: 25vw;
    margin-bottom: 10vh;
}

#duckSection{
    width: 50vw;
    margin-left: 25vw;
    height: 20vh;
    
    background-color: lightyellow;

    user-select: none;
}

#duckPhotoWrapper{
    margin-top: 1vh;
    width: 50vw;
    margin-left: 25vw;

    height: 40vh;
    
    
}

#duckPhoto{
    width: 200px;
    height: 100px;
}





#notDuckSection{
    width: 50vw;
    margin-left: 25vw;
    height: 20vh;
    
    background-color: lightblue;
    
    user-select: none;
}

#bottomPadding{
    width: 100vw;
    height: 10vh;
}


