#top {
    position: relative;
    top: 0vh;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    background-color: lavenderblush;
}

#pageTitle{
    font-family: verdana;
    font-size: 32px; /*convert*/
    
    text-align: left;
    margin-top: 12vh;
    margin-left: 25vw;
    margin-bottom: 10vh;
}

#duckSection{
    width: 50vw;
    margin-left: 25vw;
    height: 50vh;
    
    background-color: lightyellow;
}


#notDuckSection{
    width: 50vw;
    margin-left: 25vw;
    height: 50vh;
    
    background-color: lightblue;
}

#bottomPadding{
    width: 100vw;
    height: 10vh;
}
