html {
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
    width: 100%;
    height: 200%;
    
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#particles-js {
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    /*#FBF8F3*/
    user-select: none;
    position: relative;
    
    border-bottom: 2px solid white;
}

#entrytitle {
    font-family: trebuchet ms;
    margin-top: 40vh;
    margin-bottom: auto;
    color: #F8F8F3;
    
    width: 35vw;
    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
    position: absolute;
    
    pointer-events: none;
}

#dictionarytitle {
    margin: 0;
    font-family: trebuchet ms;
    font-size: 32px;
    
}

#dictionarydefinition {
    font-size: 20px;
    font-family: trebuchet ms;
}


/*          page content            */


#pagecontent{
    margin-top: 0vh;
    height: 90vh;
}

#status {
    color: white;
    text-align: center;
}


/*          project content         */

#project-grid{
    
    margin-top: 20vh;
    
    width: 65vw;
    
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    
    grid-template-columns: 30vw 30vw;
    
    grid-template-rows: auto;
    grid-row-gap: 5vw;
    grid-column-gap: 5vw;
    
    align-items: center;
}

.project-cell{
    height: 20vh;
    width: 100%;
    vertical-align: top;
    color: white;
    font-family: verdana;
    user-select: none;
    
    border: 4px solid #B877F9;
    
    align-items: center;
    justify-content: center;
    
    display: flex;
}

.project-cell:hover{
    transition: 1s;
    box-shadow: inset 30vw 0 0 0 #B877F9;
}

.project-title{
    font-size: 48px;
    color: #B877F9;
}

/*          arrow           */

#downarrow{
    width: 6vw;
    height: 10vh;
    margin-left: 47vw;
    margin-right: auto;
    
    margin-bottom: auto;
    margin-top: 90vh;
    
    position: absolute;
}

#down-arrow-label{
    margin: 0;
    margin: auto;
    text-align: center;
    width: 6vw;
    color: white;
    
    font-family: trebuchet ms;
    letter-spacing: 0.05em;
    font-size: 1.1277777777777777vw;
    
    user-select: none;
}

.center-con {
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
}

.round {
    z-index: 1000;
    position: relative;
    width: 9.422110552763819vh;
    height: 9.422110552763819vh;
    transform: scale(0.9);
}

span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 2.8266331658291457vh; /* 2.8 */
    background: #fff;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}


.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}
