html {
    scroll-behavior: smooth;
}

#top {
    position: relative;
    top: 0vh;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    background-color: #f4f4f4;
}

#fixed-top-background{
    background-color: #181818;
    color: white;
    margin: 0;
    top: 0;
    right: 0;
    
    width: 100vw;
    height: 14vh;

    position: fixed;
    
    z-index: 3;
}

#title-background {
    width: 100%;
    height: 30vh;
    background-color: #181818;
    border-bottom: 25px solid #B070F4;
}

#title {
    color: white;
    margin: 0;
    padding-top: 15vh;
    justify-content: center;
    align-self: flex-end;
    
    display: flex;
    
    font-family: trebuchet ms;
    font-size: 2.5vw;
    
    position: relative;
    
}
