
button {
    outline: none;
}

#nytbutton {
    margin-right: 10px;
    right: 0;
    top: 1vh;
    margin-top: 0;
    position: fixed;
    width: 15vw;
    height: 5vh;
    font-family: trebuchet ms;
    border-radius: 20px;
    user-select: none;
}

#nytbutton:hover {
    transform: scale(1.05);
}
#randombutton:hover {
    transform: scale(1.05);
}

#randombutton {
    margin-right: 10px;
    right: 0;
    top: 5vh;
    margin-top: 2vh;
    position: fixed;
    width: 15vw;
    height: 5vh;
    font-family: trebuchet ms;
    border-radius: 20px;
    user-select: none;
}
.square {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    //display: inline;
    border-radius: 20px;
    line-height: 80px;
    font-size: 60px;
    user-select: none;
}

.specialSquare {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    background-color: gold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    //display: inline;
    border-radius: 20px;
    line-height: 80px;
    font-size: 60px;
    user-select: none;
}

.hiddenSquare {
    width: 5vw;
}

.hiddenRectangle {
    width: 8vw;
}

.square:hover {
    background-color: lightgrey;
    transform: scale(1.1);
}

.specialSquare:hover {
    background-color: lightgrey;
    transform: scale(1.1);
}

.letter {
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    line-height: 80px;
    font-size: 70px;
    user-select: none;
}

#siteInformation {
    height: 100px;
    background-color: lightgrey;
    width: 101%;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;

}

@font-face {
    font-family: karnak;
    src: url(karnakpro-black.otf);
}

#titleSpacer {
    display: inline-block;
    width: 5px;
}

#titleBlock {
    padding-top: 1.5%;
    text-align: center;
}


#spellingBeeTitle {
    display: inline-block;
    text-align: center;
    font-family: karnak;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

#todaysDate {
    display: inline-block;
    text-align: center;
    margin: 0;
    font-family: arial;
    font-size: 20px;
    margin: 0;
}


#notification {
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-top: 0px;
    font-family: arial;
    font-size: 20px;
    line-height: 20px;
}

#wordDisplay {
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
    line-height: 80px;
    font-size: 70px;
    height: 80px;
    line-height: 80px;
    font-family: arial;
    margin-bottom: 40px;
    
}

#credits {
    text-align: center;
    margin: 0;
    margin-top: 8px;
    font-family: arial;
    font-size: 14px;    
}


table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    
}

.rectangle {
    height: 60px;
    width: 170px;
    border-radius: 20px;
    background-color: white;
}

.rectangle:hover {
    background-color: lightgrey;
    transform: scale(1.1);
}

#editButtons {
    padding-top: 50px;
}

.buttonText {
    font-size: 35px;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
}


.smallRectangle {
    height: 30px;
    width: 85px;
    border-radius: 10px;
    background-color: white;
}

.smallRectangle:hover {
    // background-color: lightgrey;
    transform: scale(1.1);
}

.smallButtonText {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
}

#pointCounter {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
}

#wordBankTitleCell {
    width: 50%;
}

#clearButtonCell {
    width: 50%;
    padding-top: 20px;
}


#wordBankTitle {
    padding-left: 15vw;
    padding-top: 20px;
    font-family: arial;
    font-size: 19px;
    text-decoration: underline;
    
}

#wordBank {
    padding-left: 10%;
    padding-top: 10px;
    font-family: arial;
    font-size: 19px;    
}







