html {
    scroll-behavior: smooth;
}

#top {
    position: relative;
    top: 0vh;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#landingPage {
    width: 100vw;
    height: 95vh;   
    
    display: inline-block;
    position: fixed;
    
    background-color: #181818;
}

#mainTitle {
    color: white;
    
    height: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

#titlePhrase {
    width: 100vw;
    text-align: left;
    padding-left: 20%;
    padding-top: 8%;
}

#titleLineOne {
    color: #552A80;
    
    font-size: 64px;
    margin-bottom: 20px;
    word-spacing: 0.1em;
}

#titleLineTwo {
    height: 140px;
    letter-spacing: 0.2em;
    word-spacing: -0.5em;
}

#titleName {
    display: inline-block;
    font-size: 90px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#titleChangingDescriptor {
    color: #552A80;
    
    align-items: left;
    text-align: left;
    display: inline-block;
    font-size: 120px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;

}

#titleExtra {
    color: white;
    
    padding-left: 20%;
    word-spacing: 0.2em;
    font-size: 32px;
    margin: 0;
    display: block;
    overflow: hidden;
    width: 100vw;
    height: 40px;
}

#titleGradient {
    height: 30%;
    width: 100vw;
    background-color: #181818;
    position: relative;
}

.arrowNextSection {
    color: white;
    
    margin: 0;
    position: absolute;
    right: 10vw;
    bottom: 2vh;
    
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#invisibleDivision {
    height: 5vh;
    position: relative;
}




#actualContent {
    position: relative;
    display: inline-block;
    top: 90vh;
}

.titlePhrase {
    padding-left: 20%;
    padding-top: 7%;
    margin: 0;
    color: white;
    
    font-size: 64px;
}

#aboutMe {
    position: relative;
    height: 95vh;
    width: 100vw;
    background-color: #552A80;
}

#aboutmeNavLink {
    position: absolute;
    bottom: 0;
    right: 0;
}

#aboutMeTitle {
    margin-bottom: 5vh;
}




#aboutmeContent {
    height: 50vh;
    position: relative;
}


#aboutmeParagraphs {
    width: 40vw;
    height: 45vh;
    margin-left: 20%;
    display: inline-block;
    position: relative;
}

.aboutmeText {
    color: white;
    font-size: 24px;
    height: 11.25vh;
    margin: 0;
    width: 40vw;
    display: flex;
    align-items: center;
    font-family: "trebuchet ms";
}

#pictureBox {
    display: inline-block;
    background-color: yellow;
    width: 15vw;
    height: 40vh;
    vertical-align: top;
    margin-top: 1vh;
    margin-left: 4vh;
}

#picture {

}

#resumeLinkDiv {
    text-align: center;
    margin: 0;
}

#resumeLink {
    color: white;
    
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    
    font-family: "verdana"
    
}

#resumeLink:hover {
    color: deeppink;
}






#projects {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #191819;
}

#projectsNavLink {
    position: relative;
    top: 0;
    left: 0;
}

#arrowtoHome {
    color: white;
    
    margin: 0;
    position: absolute;
    
    left: 10vw;
    top: 2vh;
    
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#projectTitle {
    margin-bottom: 7vh;
}


#projectsTable {
    width: 60vw;
    margin: auto;
}

.projectTextDiv {
    width: 60%;
}

.projectsCell {
    height: 20vh;
    width: 100%;
    vertical-align: top;
    color: white;
    font-family: verdana;
    user-select: none;
}

.projectName {
    font-size: 2.7vh;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.projectDescription {
    margin-left: 3vw;
    font-size: 1.9vh;
}

.projectLanguage {
    margin-left: 3vw;
    color: deeppink;
    font-weight: bold;
    font-size: 1.9vh;
}

.projectTextDiv {
    display: inline-block;
    height: 100%;
    width: 60%;
    top: 0;
}


.projectLink{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

.projectImage {
    width: 33%;
    height: 103.5%;
    margin: 0;
    margin-left: auto;
    margin-right: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
    top: 0;
    background-image: url("beelogo9.jpg");
    background-color: white;
    background-position: left center;
    float: right;
    display: inline-block;
}



.trapezoidBlob {
    width: 0;
    height: 0;
    border-right: 20vh solid transparent;
    border-top: 20.3vh solid #191819;
}


#cellOne {
    border: 4px solid #552A80;
}

#cellOne:hover #nytdescription{
    opacity: 1;
    transition: 1s linear;
}
#cellOne:hover #nytlanguage{
    opacity: 1;
    transition: 1s linear;
    transition-delay: 0.25s;

}


#nyttitle {

}

#nytdescription {
    opacity: 0;
}
#nytlanguage {
    opacity: 0;

}
