
html {
    scroll-behavior: smooth;
}

#menu {
    width: 100vw;
    height: 200vh;
    position: fixed;
    background-color: #181818;
    opacity: 0;
    z-index = -1;
}

#menuportfolio{
    /*text-decoration: underline;*/
    border-bottom: 0.5263157894736842vh solid white;
}

#menuportfolio:hover{
    color: deeppink;
    border-bottom: 0.5263157894736842vh solid deeppink;
}

#menuabout{
    color: white;
    text-decoration: none;
}

#menuabout:hover{
    color: deeppink;
    
}

#menuoptions {
    color: white;
    top: 0;
    right: 0;
    padding-top: 6.4473684210526314vh;
    padding-right: 1.3vw;
    text-align: right;
    font-family: trebuchet ms;
    font-weight: bold;
    font-size: 2.5vh;
    
    position: fixed;

    
    user-select: none;
 
}

#dim-target {
    background-color: #181818;
}

#top {
    position: relative;
    top: 0vh;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#landingPage {
    width: 100vw;
    height: 95vh;   
    background-color: #181818;
}

#hamburger {
    height: 3.9473684210526314vh;
    width: 2.2786458333333335vw;
    top: 0;
    right: 0;
    padding-top: 2vh;
    padding-right: 1.3vw;
    position: absolute;
    filter: invert(0.8);
    display: inline;
  
}

#hamburger:hover {
    transform: scale(1.15);
}

#hamburgerwrapper{
    height: 3.9473684210526314vh;
    width: 2.2786458333333335vw;
    position: fixed;
    top:0;
    right:0;
    padding-top:2vh;
    padding-right:1.3vw;
    z-index: 10;
    background-color: #181818;
}


#mainTitle {
    color: white;
    
    height: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

#titlePhrase {
    width: 100vw;
    text-align: left;
    padding-left: 20%;
    padding-top: 8%;
    user-select: none;

}

#titleLineOne {
    color: #bcaade;
    
    font-size: 4.166666666666667vw;
    margin-bottom: 20px;
    word-spacing: 0.1em;
    
    font-family: trebuchet ms;
}

#titleLineTwo {
    height: 9.114583333333334vw;
    letter-spacing: 0.2em;
    word-spacing: -0.5em;
    font-family: trebuchet ms;
}

#titleName {
    display: inline-block;
    font-size: 5.859375vw;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#titleChangingPrefix {
    align-items: left;
    text-align: left;
    display: inline-block;
    font-size: 5.859375vw;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#titleChangingDescriptor {
    color: #bcaade;
    
    align-items: left;
    text-align: left;
    display: inline-block;
    font-size: 7.8125vw;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;

}

#titleExtra {
    color: white;
    
    padding-left: 20%;
    word-spacing: 0.2em;
    font-size:  2.083vw;
    margin: 0;
    display: block;
    overflow: hidden;
    width: 100vw;
    height: 40px;
    user-select: none;
    font-family: trebuchet ms;
}

#titleGradient {
    height: 30%;
    width: 100vw;
    background-color: #181818;
    position: relative;
}

.arrowNextSection {
    color: white;
    
    margin: 0;
    right: 10vw;
    bottom: 2vh;
    
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    user-select: none;

}


#actualContent {
    position: relative;
    display: inline-block;

}


.titlePhrase {
    padding-top: 7%;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 64px;
    user-select: none;
    color: #bcaade

}

#invisibleDivision{
    background-color: #181818;
    height: 50px;
}

#blacktitle {
    color: #181818;
}



#projects {
    width: 100vw;
    position: relative;
    background-color: #181818;
    display: inline-block;
}

#projectsNavLink {
    position: relative;
    top: 0;
    left: 0;
}

#arrowtoHome {
    color: white;
    
    margin: 0;
    position: absolute;
    
    left: 10vw;
    top: 2vh;
    
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#projectTitle {
    margin-bottom: 1vh;
    font-family: trebuchet ms;
}


#projectsTable {
    width: 60vw;
    margin: auto;
    border-collapse: separate;
    border-spacing:0 10vh;
}

.projectTextDiv {
    width: 60%;
}

.projectsCell {
    height: 20vh;
    width: 100%;
    vertical-align: top;
    color: white;
    font-family: verdana;
    user-select: none;
}


.projectName {
    font-size: 2.7vh;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.projectDescription {
    margin-left: 3vw;
    font-size: 1.9vh;
}

.projectLanguage {
    margin-left: 3vw;
    color: deeppink;
    font-weight: bold;
    font-size: 1.9vh;
}

.projectTextDiv {
    display: inline-block;
    height: 100%;
    width: 60%;
    top: 0;
}


.projectLink{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

#beeimage {
    width: 33%;
    height: 103.5%;
    margin: 0;
    margin-left: auto;
    margin-right: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
    top: 0;
    background-image: url("beelogo9.jpg");
    background-color: white;
    background-position: left center;
    float: right;
    display: inline-block;
}



.trapezoidBlob {
    width: 0;
    height: 0;
    border-right: 20vh solid transparent;
    border-top: 20.3vh solid #191819;
}


#cellOne {
    border: 4px solid #552A80;
}

#cellTwo {
    border: 4px solid #bcaade;
}

#cellOne:hover #nytdescription{
    opacity: 1;
    transition: 1s linear;
}
#cellOne:hover #nytlanguage{
    opacity: 1;
    transition: 1s linear;
    transition-delay: 0.25s;

}


#nyttitle {

}

#nytdescription {
    opacity: 0;
    transition: 0.5s linear;
    
}

#nytlanguage {
    opacity: 0;
    transition: 0.5s linear;
}

#photoinfo{
    opacity: 0;
    transition: 0.5s linear;
}

#photodescription {
    opacity: 0;
    transition: 0.5s linear;
}

#cellTwo:hover #photodescription{
    opacity: 1;
    transition: 1s linear;
}

#cellTwo:hover #photoinfo{
    opacity: 1;
    transition: 1s linear;
    transition-delay: 0.25s;

}

#photocoverimage{
    width: 33%;
    height: 101%;
    margin: 0;
    margin-left: auto;
    margin-right: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
    top: 0;
    background-image: url("sakuracover6.jpg");
    background-color: white;
    background-position: left center;
    float: right;
    display: inline-block;
}


